* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: #0f172a;
  color: #e2e8f0;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* Navbar */
header {
  background: #0f172a;
  padding: 20px 0;
  border-bottom: 1px solid #1e293b;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  color: #38bdf8;
}

nav a {
  text-decoration: none;
  margin-left: 25px;
  color: #cbd5e1;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

/* Hero */
.hero {
  padding: 120px 0;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 15px;
}

.subtitle {
  color: #38bdf8;
  font-weight: 500;
  margin-bottom: 15px;
}

.description {
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
  color: #94a3b8;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.primary {
  background: #38bdf8;
  color: #0f172a;
}

.primary:hover {
  background: #0ea5e9;
}

.secondary {
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

.secondary:hover {
  background: #38bdf8;
  color: #0f172a;
}

/* Sections */
.section {
  padding: 80px 0;
}

.dark {
  background: #111827;
}

.section h2 {
  text-align: center;
  margin-bottom: 40px;
}

/* Cards */
.card {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card span {
  font-size: 14px;
  color: #94a3b8;
}

.card ul {
  margin-top: 15px;
  padding-left: 20px;
}

/* Skill Bars */
.skill {
  margin-bottom: 25px;
}

.skill-title {
  margin-bottom: 8px;
  font-weight: 500;
}

.skill-bar {
  width: 100%;
  height: 8px;
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
}

.skill-fill {
  height: 100%;
  background: linear-gradient(to right, #38bdf8, #0ea5e9);
  width: 0;
  border-radius: 10px;
  transition: width 2s ease;
}

/* Contact */
.center {
  text-align: center;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #0f172a;
  border-top: 1px solid #1e293b;
  font-size: 14px;
}

/* Responsive */
@media(max-width:768px){
  .nav {
    flex-direction: column;
    gap: 10px;
  }

  nav a {
    margin: 0 10px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero {
    padding: 80px 0;
  }
}